body {
    background-color: red;
    /* color: red; */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    /* padding: 20px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    bottom: 0;
    margin-top: 100px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.icons i {
    font-size: 24px;
}
.text{
    font-size: 20px;
}
