body {
    background-color: red;
    /* color: red; */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    /* padding: 20px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.icons {
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-top: 100px;
}

.icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    text-decoration: none;
    color: red;
    font-size: 20px;
    width: 80%;
}

.icons i {
    font-size: 24px;
}
.text{
    font-size: 20px;
}


.carousel {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel img {
    width: 100%;
    flex-shrink: 0;
}
video {
    width: 400px;
    height: auto;
}